table {
  border: solid 1px #000000;
}

.movieWraper {
  position: relative;
  width: calc(100% - 10px);
  margin: 0 auto;
}

.iframeWrap {
  height: 0;
  padding-bottom: 62.5%;
}

iframe {
  padding-bottom: 56.25%;
}